### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/misc.xml
.idea/compiler.xml
.idea/workspace.xml
.idea/libraries/
*.iws
*.iml
*.ipr



### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/workspace.xml
.idea/codeStyles/codeStyleConfig.xml
!/resources/config.properties
/resources/config.properties
!/.idea/workspace.xml
/.idea/workspace.xml
